.develop-renderer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.develop-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--engin-space-sm);
  gap: var(--engin-space-sm);
}
